@import "tailwindcss";

@import "@fontsource/inter";

@theme {
  --font-sans: 'Inter', 'sans-serif';
  /* --font-sans: 'Open Sans', 'sans-serif'; */
}


@layer utilities{
	.text-primary { color: var(--color-text-primary); }
	.text-secondary { color: var(--color-text-secondary); }
	.text-accent { color: var(--color-text-accent);}
	
	.bg-primary { background-color: var(--color-background-primary);}
	.bg-secondary { background-color: var(--color-background-secondary);}
	.bg-tertiary { background-color: var(--color-background-tertiary);}
	.bg-accent { background-color: var(--color-background-accent); color: hsl(215, 100%, 95%);}

	.border-primary { border-color: var(--color-border-primary);}

	/* for hover state */
  .hover\:hover-primary:hover {
    background-color: var(--color-hover-primary);
  }


	.text-xs { font-size: calc(0.75rem * var(--font-scale)); }
	.text-sm { font-size: calc(0.875rem * var(--font-scale)); }
	.text-base { font-size: calc(1rem * var(--font-scale)); }
	.text-lg { font-size: calc(1.25rem * var(--font-scale)); }
  .text-xl   { font-size: calc(1.5rem * var(--font-scale)); }
  .text-2xl  { font-size: calc(1.875rem * var(--font-scale)); }
  .text-3xl  { font-size: calc(2.25rem * var(--font-scale)); }
  .text-4xl  { font-size: calc(2.875rem * var(--font-scale)); }
  .text-5xl  { font-size: calc(3rem * var(--font-scale)); }
}



.theme-light {
  --color-text-primary: hsl(0, 0%, 20%);
  --color-text-secondary: hsl(0, 0%, 45%);
	--color-text-accent: hsl(215, 58%, 42%);

	--color-background-primary: hsl(0,0%, 90%);
	--color-background-secondary: hsl(0,0%, 95%);
	--color-background-tertiary: hsl(0, 0%, 100%);  

	--color-hover-primary: #d8d5df; 
	--color-background-accent: hsl(215, 58%, 42%);

	--color-border-primary: hsl(255, 10%, 85%);
}

.theme-dark {
  --color-text-primary: hsl(0, 0%, 98%);
  --color-text-secondary: hsl(0, 0%, 63%);
	--color-text-accent: hsl(215, 80%, 35%);

	--color-background-primary: hsl(0, 0%, 6%);  
	--color-background-secondary: hsl(0,0%, 9%);
	--color-background-tertiary: hsl(0, 0%, 13%);  
	--color-hover-primary: #2e2e2e;
	--color-background-accent: hsl(215, 80%, 35%);

	--color-border-primary: hsl(0, 0%, 23%);
}


.text-Small {
  --font-scale: 0.85; /* ~15% smaller */
}

.text-Medium {
  --font-scale: 1;    /* default */
}

.text-Large {
  --font-scale: 1.15; /* ~15% bigger */
}

.text-ExtraLarge {
  --font-scale: 1.3;  /* ~30% bigger */
}

.text-Maximized {
  --font-scale: 1.5;  /* ~50% bigger */
}

body[data-theme-transitioning="true"] * {
  transition: 
    background-color 0.5s ease, 
    color 0.5s ease,
		border-color 0.5s ease;
}

body[data-text-transitioning="true"] * {
  transition: 
    font-size 0.3s ease-in-out,
    line-height 0.3s ease-in-out, 
    letter-spacing 0.3s ease-in-out;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--color-background-tertiary) inset !important;
  -webkit-text-fill-color: var(--color-text-secondary) !important;
  transition: background-color 5000s ease-in-out 0s;
}


/* for scrollbar consistency */


/* For Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-primary::-webkit-scrollbar {
  height: 8px; /* Adjust size as needed */
	width: 8px;
}

.scrollbar-primary::-webkit-scrollbar-track {
  background: var(--color-background-primary);
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  background: var(--color-text-accent);
  border-radius: 10px;
}

.scrollbar-primary::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollbar-primary::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
.scrollbar-primary {
  scrollbar-width: auto;
	scrollbar-color: var(--color-text-accent) var(--color-background-primary);
}


progress {
  pointer-events: auto;
}
.progress-time {
  pointer-events: auto;
}
.progress-questions {
  pointer-events: none;
}
.progress-questions::-webkit-progress-bar {
  pointer-events: none;
}
.progress-questions::-webkit-progress-value {
  pointer-events: auto;
}

/* progress bar */

progress {
	appearance: none;
	background: transparent;
	border-radius: 999px;
	overflow: hidden;
}

progress::-webkit-progress-bar {
	background: transparent;
}


/* Time (bottom color) */
.progress-time::-webkit-progress-value {
	background-color: var(--color-background-tertiary);
	border-radius: 999px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color-border-primary);
}

/* Questions (top color) */
.progress-questions::-webkit-progress-value {
	background-color: var(--color-text-accent);
	border-radius: 999px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color-border-primary);
}

/* Firefox */
.progress-time::-moz-progress-bar {
	background-color: var(--color-background-tertiary);
	border-radius: 999px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color-border-primary);
}
.progress-questions::-moz-progress-bar {
	background-color: var(--color-text-accent);
	border-radius: 999px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--color-border-primary);
}
