@import "tailwindcss";

@import "@fontsource/inter";
@import "@styles/themes.css";
@import "@styles/typography.css";
@import "@styles/browserInconsistency.css";
@import "@styles/transitionsEffects.css";


@layer utilities{
	.text-primary { color: var(--color-text-primary); }
	.text-secondary { color: var(--color-text-secondary); }
	.text-accent { color: var(--color-text-accent);}
	
	.bg-primary { background-color: var(--color-background-primary);}
	.bg-secondary { background-color: var(--color-background-secondary);}
	.bg-tertiary { background-color: var(--color-background-tertiary);}
	.bg-accent { background-color: var(--color-background-accent); color: hsl(215, 100%, 95%);}

	.border-primary { border-color: var(--color-border-primary);}

}


/* Status */
@layer utilities{
	.status-indicator-success{
		color: var(--color-text-success);
		background-color: var(--color-background-success);
		border-color: var(--color-border-success)
	}

	.status-indicator-error{
		color: var(--color-text-error);
		background-color: var(--color-background-error);
		border-color: var(--color-border-error);
	}

	/* warrning */
	.status-indicator-warning{
	  color: var(--color-text-warning);
		background-color: var(--color-background-warning);
		border-color: var(--color-border-warning);
	}


	.status-indicator-info{
		color: var(--color-text-info);
		background-color: var(--color-background-info);
		border-color: var(--color-border-info);
	}


	.status-indicator-accent{
		color: var(--color-text-accent);
		background-color: var(--color-background-accent);
		border-color: var(--color-border-accent);
	}

}



@layer utilities{

	.hover-overlay {
		position: relative;
	}

	.hover-overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--hover-overlay);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
  }

	.hover-overlay:hover::after {
    opacity: 1;
  }
}


