@import "tailwindcss";

@layer utilities{
	.text-primary { color: var(--color-text-primary); }
	.text-secondary { color: var(--color-text-secondary); }
	.text-accent { color: var(--color-text-accent);}
	
	.bg-primary { background-color: var(--color-background-primary);}
	.bg-accent { background-color: var(--color-background-accent); color: #e2eeff;}

	.border-primary { border-color: var(--color-border-primary);}

	/* for hover state */
  .hover\:hover-primary:hover {
    background-color: var(--color-hover-primary);
  }


	.text-xs { font-size: calc(0.75rem * var(--font-scale)); }
	.text-sm { font-size: calc(0.875rem * var(--font-scale)); }
	.text-base { font-size: calc(1rem * var(--font-scale)); }
	.text-lg { font-size: calc(1.25rem * var(--font-scale)); }
  .text-xl   { font-size: calc(1.5rem * var(--font-scale)); }
  .text-2xl  { font-size: calc(1.875rem * var(--font-scale)); }
  .text-3xl  { font-size: calc(2.25rem * var(--font-scale)); }
  .text-4xl  { font-size: calc(2.875rem * var(--font-scale)); }
  .text-5xl  { font-size: calc(3rem * var(--font-scale)); }
}



.theme-light {
  --color-text-primary: #1f1f1f;
  --color-text-secondary: #4b4b4b;
	--color-text-accent:#2d60a8;

	--color-background-primary: #f2f0f5;
	--color-hover-primary: #d8d5df; 
	--color-background-accent: #2d60a8;

	--color-border-primary: #d4d2da;
}

.theme-dark {
  --color-text-primary: #f2f0f5;
  --color-text-secondary: #c7c6cc;
	--color-text-accent:#134fa1;

	--color-background-primary: #1f1f1f;
	--color-hover-primary: #2e2e2e;
	--color-background-accent: #134fa1;

	--color-border-primary: #3a3a3a;
}


.text-Small {
  --font-scale: 0.85; /* ~15% smaller */
}

.text-Medium {
  --font-scale: 1;    /* default */
}

.text-Large {
  --font-scale: 1.15; /* ~15% bigger */
}

.text-ExtraLarge {
  --font-scale: 1.3;  /* ~30% bigger */
}

.text-Maximized {
  --font-scale: 1.5;  /* ~50% bigger */
}

body[data-theme-transitioning="true"] * {
  transition: 
    background-color 0.5s ease, 
    color 0.5s ease,
		border-color 0.5s ease;
}

body[data-text-transitioning="true"] * {
  transition: 
    font-size 0.3s ease-in-out,
    line-height 0.3s ease-in-out, 
    letter-spacing 0.3s ease-in-out;
}
