
/* Theme transition */
body[data-theme-transitioning="true"] * {
  transition: 
    background-color 0.5s ease, 
    color 0.5s ease,
		border-color 0.5s ease;
}

/* Text transition */
body[data-text-transitioning="true"] * {
  transition: 
    font-size 0.3s ease-in-out,
    line-height 0.3s ease-in-out, 
    letter-spacing 0.3s ease-in-out;
}


/* progress bar transition */
@layer utilities {
  .quiz-jump-target {
    @apply relative;
  }

  .quiz-jump-target::after {
    content: "";
    @apply pointer-events-none absolute inset-0 rounded-lg
           ring-2 ring-(--color-background-accent)
           opacity-0;
  }

  .quiz-jump-target:target::after {
    animation: target-fade 1.2s ease-out forwards;
  }

	@keyframes target-fade {
		0% {
      opacity: 1;
		}
		
		100% {
      opacity: 0;
		}
	}
}
