---
export const prerender = false
import { config } from "@config"
import BaseLayout from "src/layouts/BaseLayout.astro"
const name = config.name
const title = config.title
const description = config.description
const banner = config.banner
---

<BaseLayout title="Review Result">
	<div class="h-full mx-[8%] flex flex-col items-center  gap-4">
		<div class="flex flex-col lg:flex-row items-center gap-8 mt-[8%]">
			<div class="relative lg:w-[45%] w-[60%]">
				<img src={banner} alt="banner Image" class="object-cover rounded-xl border-4 border-primary">
				<div class="absolute inset-0  bg-gradient-to-b from-black/10 to-transparent rounded-xl"></div>

			</div>
			<div class="text-justify wrap-break-word ">
				<h1 class="lg:text-2xl text-xl font-bold text-center">Welcome to the <span class="text-accent">{title}</span></h1>
				<h2 class="lg:text-2xl text-xl text-secondary font-bold text-center">{name}</h2>
				<h3 class="lg:text-xl text-lg text-secondary font-semibold text-center">{description}</h3>

				<div class="flex flex-row gap-6 mt-6 items-center justify-center">
					<a href="/admin/event">
						<button class="px-8 py-4 rounded-lg border-2 border-primary hover-overlay text-lg font-bold flex flex-row items-center gap-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<rect width="18" height="18" x="3" y="4" rx="2" ry="2"/>
								<line x1="16" x2="16" y1="2" y2="6"/>
								<line x1="8" x2="8" y1="2" y2="6"/>
								<line x1="3" x2="21" y1="10" y2="10"/>
							</svg>
							Organizer
						</button>
					</a>
					<a href="/register">
						<button class="px-8 py-4 rounded-lg border-2 border-primary bg-accent    text-lg font-bold flex flex-row gap-2 items-center">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"/>
								<circle cx="9" cy="7" r="4"/>
								<path d="M22 21v-2a4 4 0 0 0-3-3.87"/>
								<path d="M16 3.13a4 4 0 0 1 0 7.75"/>
							</svg>
							Employee
						</button>
					</a>
				</div>

			</div>

		</div>
	</div>
</BaseLayout>
