---
import { generateId } from "@utils/MainUtils"
import BaseLayout from "src/layouts/BaseLayout.astro"
---

<BaseLayout title="Review Result">
	<h1>review result</h1>
	<p>{generateId}</p>
</BaseLayout>
