---
const themes = ['theme-light', 'theme-dark'];
---


<div class="relative hover-overlay">
	<select id="theme-dropdown" class="text-base bg-secondary pl-9 py-2 border-2 border-primary rounded-lg">
		{themes.map(theme => (
			<option class="text-base text-primary bg-primary" value={theme} selected={false}>{theme.replace('theme-', '').replace(/^\w/, c => c.toUpperCase()) }</option>
		))}
	</select>

	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="absolute w-8 h-8 transform top-1/6 left-2" >
		<path d="M29.92 9.36c0.163 0.277 0.244 0.465 0.229 0.788 -0.084 0.307 -0.241 0.5 -0.444 0.737a5.133 5.133 0 0 0 -1.145 3.755c0.211 1.26 0.837 2.471 1.84 3.28 1.157 0.779 2.361 1.149 3.76 1.04 0.253 -0.051 0.497 -0.115 0.745 -0.185 0.449 -0.115 0.792 -0.125 1.209 0.08 0.293 0.264 0.355 0.444 0.383 0.833 -0.021 0.376 -0.119 0.676 -0.253 1.027l-0.076 0.201a9.067 9.067 0 0 1 -1.848 2.924l-0.139 0.157c-1.305 1.416 -3.429 2.403 -5.344 2.492q-0.22 0 -0.437 -0.009l-0.063 0.176c-0.896 2.048 -3.388 3.54 -5.371 4.343 -2.04 0.792 -4.444 0.979 -6.568 0.441l-0.164 -0.04a11.013 11.013 0 0 1 -4.555 -2.36l-0.199 -0.169C9.383 27.036 8.107 24.52 7.76 21.76a26.667 26.667 0 0 1 -0.02 -1.229v-0.175c0.001 -0.861 0.037 -1.679 0.26 -2.516l0.041 -0.159c0.449 -1.665 1.219 -3.183 2.359 -4.481l0.165 -0.199c1.8 -2.096 4.389 -3.332 7.115 -3.641 0.379 -0.023 0.756 -0.027 1.135 -0.025l0.308 0.001c1.265 0.016 2.369 0.255 3.571 0.639 0.536 0.181 0.536 0.181 1.076 0.084l0.265 -0.149c1.568 -0.843 4.244 -1.541 5.885 -0.549m-7.168 3.563c-1.3 1.368 -1.916 3.163 -1.888 5.031 0.068 1.988 1.015 3.668 2.415 5.033 1.32 1.199 3.12 1.752 4.881 1.733a7.28 7.28 0 0 0 4.56 -1.92l0.153 -0.133c0.311 -0.287 0.555 -0.616 0.797 -0.961l0.096 -0.136c0.153 -0.224 0.273 -0.419 0.315 -0.689l-0.131 0.005c-1.861 0.043 -3.587 -0.515 -4.989 -1.765l-0.184 -0.161a6.44 6.44 0 0 1 -1.999 -4.395c-0.027 -1.236 0.068 -2.28 0.584 -3.417 0.089 -0.177 0.089 -0.177 0.079 -0.347 -1.773 -0.045 -3.469 0.893 -4.688 2.123m-10.956 1.372c-1.693 1.932 -2.405 4.379 -2.292 6.909a9.16 9.16 0 0 0 2.176 5.276l0.169 0.199c1.631 1.863 3.908 3.061 6.391 3.241 2.376 0.136 4.765 -0.556 6.588 -2.121 0.816 -0.692 0.816 -0.692 1.412 -1.559a28 28 0 0 0 -0.8 -0.259c-2.272 -0.707 -4.092 -2.087 -5.217 -4.209 -1.088 -2.131 -1.324 -4.529 -0.596 -6.817 0.381 -1.107 0.933 -2.268 1.789 -3.084 0.121 -0.104 0.121 -0.104 0.104 -0.269l0.24 -0.08c-3.031 -2.02 -7.884 0.572 -9.965 2.775" fill="currentColor"/>
		<path d="M6.745 23.809a1.333 1.333 0 0 1 0.455 0.669c0 0.328 -0.041 0.503 -0.225 0.775 -0.467 0.339 -1.028 0.545 -1.611 0.505 -0.317 -0.06 -0.515 -0.145 -0.725 -0.4 -0.147 -0.356 -0.193 -0.621 -0.069 -0.989 0.457 -0.64 1.468 -0.907 2.175 -0.56" fill="currentColor"/>
		<path d="M6.583 15.505c0.284 0.124 0.447 0.236 0.617 0.495 0.1 0.311 0.116 0.56 -0.02 0.865l-0.14 0.175 -0.095 0.14c-0.255 0.176 -0.485 0.201 -0.785 0.18a8 8 0 0 1 -0.615 -0.165l-0.156 -0.047c-0.411 -0.14 -0.592 -0.32 -0.829 -0.668a1.24 1.24 0 0 1 0.095 -0.78c0.529 -0.657 1.229 -0.448 1.928 -0.195" fill="currentColor"/>
		<path d="m18.829 5.505 0.187 -0.004a0.867 0.867 0 0 1 0.503 0.179c0.257 0.385 0.277 0.717 0.269 1.165l0.003 0.18c-0.001 0.364 -0.043 0.596 -0.273 0.895 -0.249 0.22 -0.437 0.259 -0.76 0.24 -0.253 -0.021 -0.368 -0.085 -0.58 -0.232 -0.26 -0.357 -0.236 -0.656 -0.225 -1.088l-0.003 -0.227c0.004 -0.351 0.013 -0.557 0.2 -0.86 0.235 -0.215 0.367 -0.245 0.677 -0.248" fill="currentColor"/>
		<path d="M19.12 32.8c0.316 0.171 0.519 0.3 0.64 0.64 0.017 0.227 0.025 0.443 0.025 0.669l0.004 0.18c0 0.387 -0.048 0.66 -0.269 0.989 -0.313 0.221 -0.671 0.215 -1.04 0.16 -0.229 -0.144 -0.359 -0.239 -0.48 -0.48 -0.025 -0.275 -0.025 -0.549 -0.029 -0.825l-0.009 -0.231c-0.007 -0.563 -0.007 -0.563 0.225 -0.873 0.315 -0.224 0.553 -0.269 0.933 -0.232" fill="currentColor"/>
		<path d="M11.205 30.283c0.264 0.064 0.392 0.231 0.555 0.437 0.156 0.313 0.151 0.621 0.08 0.96 -0.249 0.435 -0.548 0.945 -1.04 1.12 -0.34 0.037 -0.519 0.021 -0.825 -0.135 -0.232 -0.2 -0.315 -0.287 -0.375 -0.585 -0.019 -0.559 0.192 -0.835 0.544 -1.256 0.34 -0.353 0.565 -0.564 1.061 -0.541" fill="currentColor"/>
		<path d="m26.625 30.375 0.207 -0.009c0.36 0.059 0.548 0.279 0.771 0.556 0.303 0.461 0.495 0.764 0.399 1.319a1.107 1.107 0 0 1 -0.375 0.505 1.6 1.6 0 0 1 -0.825 0.055c-0.46 -0.253 -0.821 -0.731 -1.04 -1.2 -0.081 -0.38 -0.056 -0.629 0.149 -0.96 0.244 -0.229 0.387 -0.256 0.715 -0.265" fill="currentColor"/>
		<path d="M10.96 8.24c0.215 0.165 0.215 0.165 0.4 0.4l0.131 0.14c0.316 0.363 0.413 0.636 0.38 1.117a1.027 1.027 0 0 1 -0.271 0.581c-0.292 0.184 -0.556 0.183 -0.887 0.128 -0.263 -0.081 -0.383 -0.237 -0.553 -0.448l-0.128 -0.147c-0.313 -0.377 -0.44 -0.64 -0.432 -1.133a1.333 1.333 0 0 1 0.409 -0.635c0.333 -0.123 0.611 -0.105 0.951 -0.005" fill="currentColor"/>
	</svg>

</div>

<!-- <div class="inline-flex justify-center items-center gap-1 border-2 border-primary rounded-lg px-1 py-0 bg-secondary hover-overlay"> -->
<!-- 	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="w-8 h-8" > -->
<!-- 		<path d="M29.92 9.36c0.163 0.277 0.244 0.465 0.229 0.788 -0.084 0.307 -0.241 0.5 -0.444 0.737a5.133 5.133 0 0 0 -1.145 3.755c0.211 1.26 0.837 2.471 1.84 3.28 1.157 0.779 2.361 1.149 3.76 1.04 0.253 -0.051 0.497 -0.115 0.745 -0.185 0.449 -0.115 0.792 -0.125 1.209 0.08 0.293 0.264 0.355 0.444 0.383 0.833 -0.021 0.376 -0.119 0.676 -0.253 1.027l-0.076 0.201a9.067 9.067 0 0 1 -1.848 2.924l-0.139 0.157c-1.305 1.416 -3.429 2.403 -5.344 2.492q-0.22 0 -0.437 -0.009l-0.063 0.176c-0.896 2.048 -3.388 3.54 -5.371 4.343 -2.04 0.792 -4.444 0.979 -6.568 0.441l-0.164 -0.04a11.013 11.013 0 0 1 -4.555 -2.36l-0.199 -0.169C9.383 27.036 8.107 24.52 7.76 21.76a26.667 26.667 0 0 1 -0.02 -1.229v-0.175c0.001 -0.861 0.037 -1.679 0.26 -2.516l0.041 -0.159c0.449 -1.665 1.219 -3.183 2.359 -4.481l0.165 -0.199c1.8 -2.096 4.389 -3.332 7.115 -3.641 0.379 -0.023 0.756 -0.027 1.135 -0.025l0.308 0.001c1.265 0.016 2.369 0.255 3.571 0.639 0.536 0.181 0.536 0.181 1.076 0.084l0.265 -0.149c1.568 -0.843 4.244 -1.541 5.885 -0.549m-7.168 3.563c-1.3 1.368 -1.916 3.163 -1.888 5.031 0.068 1.988 1.015 3.668 2.415 5.033 1.32 1.199 3.12 1.752 4.881 1.733a7.28 7.28 0 0 0 4.56 -1.92l0.153 -0.133c0.311 -0.287 0.555 -0.616 0.797 -0.961l0.096 -0.136c0.153 -0.224 0.273 -0.419 0.315 -0.689l-0.131 0.005c-1.861 0.043 -3.587 -0.515 -4.989 -1.765l-0.184 -0.161a6.44 6.44 0 0 1 -1.999 -4.395c-0.027 -1.236 0.068 -2.28 0.584 -3.417 0.089 -0.177 0.089 -0.177 0.079 -0.347 -1.773 -0.045 -3.469 0.893 -4.688 2.123m-10.956 1.372c-1.693 1.932 -2.405 4.379 -2.292 6.909a9.16 9.16 0 0 0 2.176 5.276l0.169 0.199c1.631 1.863 3.908 3.061 6.391 3.241 2.376 0.136 4.765 -0.556 6.588 -2.121 0.816 -0.692 0.816 -0.692 1.412 -1.559a28 28 0 0 0 -0.8 -0.259c-2.272 -0.707 -4.092 -2.087 -5.217 -4.209 -1.088 -2.131 -1.324 -4.529 -0.596 -6.817 0.381 -1.107 0.933 -2.268 1.789 -3.084 0.121 -0.104 0.121 -0.104 0.104 -0.269l0.24 -0.08c-3.031 -2.02 -7.884 0.572 -9.965 2.775" fill="currentColor"/> -->
<!-- 		<path d="M6.745 23.809a1.333 1.333 0 0 1 0.455 0.669c0 0.328 -0.041 0.503 -0.225 0.775 -0.467 0.339 -1.028 0.545 -1.611 0.505 -0.317 -0.06 -0.515 -0.145 -0.725 -0.4 -0.147 -0.356 -0.193 -0.621 -0.069 -0.989 0.457 -0.64 1.468 -0.907 2.175 -0.56" fill="currentColor"/> -->
<!-- 		<path d="M6.583 15.505c0.284 0.124 0.447 0.236 0.617 0.495 0.1 0.311 0.116 0.56 -0.02 0.865l-0.14 0.175 -0.095 0.14c-0.255 0.176 -0.485 0.201 -0.785 0.18a8 8 0 0 1 -0.615 -0.165l-0.156 -0.047c-0.411 -0.14 -0.592 -0.32 -0.829 -0.668a1.24 1.24 0 0 1 0.095 -0.78c0.529 -0.657 1.229 -0.448 1.928 -0.195" fill="currentColor"/> -->
<!-- 		<path d="m18.829 5.505 0.187 -0.004a0.867 0.867 0 0 1 0.503 0.179c0.257 0.385 0.277 0.717 0.269 1.165l0.003 0.18c-0.001 0.364 -0.043 0.596 -0.273 0.895 -0.249 0.22 -0.437 0.259 -0.76 0.24 -0.253 -0.021 -0.368 -0.085 -0.58 -0.232 -0.26 -0.357 -0.236 -0.656 -0.225 -1.088l-0.003 -0.227c0.004 -0.351 0.013 -0.557 0.2 -0.86 0.235 -0.215 0.367 -0.245 0.677 -0.248" fill="currentColor"/> -->
<!-- 		<path d="M19.12 32.8c0.316 0.171 0.519 0.3 0.64 0.64 0.017 0.227 0.025 0.443 0.025 0.669l0.004 0.18c0 0.387 -0.048 0.66 -0.269 0.989 -0.313 0.221 -0.671 0.215 -1.04 0.16 -0.229 -0.144 -0.359 -0.239 -0.48 -0.48 -0.025 -0.275 -0.025 -0.549 -0.029 -0.825l-0.009 -0.231c-0.007 -0.563 -0.007 -0.563 0.225 -0.873 0.315 -0.224 0.553 -0.269 0.933 -0.232" fill="currentColor"/> -->
<!-- 		<path d="M11.205 30.283c0.264 0.064 0.392 0.231 0.555 0.437 0.156 0.313 0.151 0.621 0.08 0.96 -0.249 0.435 -0.548 0.945 -1.04 1.12 -0.34 0.037 -0.519 0.021 -0.825 -0.135 -0.232 -0.2 -0.315 -0.287 -0.375 -0.585 -0.019 -0.559 0.192 -0.835 0.544 -1.256 0.34 -0.353 0.565 -0.564 1.061 -0.541" fill="currentColor"/> -->
<!-- 		<path d="m26.625 30.375 0.207 -0.009c0.36 0.059 0.548 0.279 0.771 0.556 0.303 0.461 0.495 0.764 0.399 1.319a1.107 1.107 0 0 1 -0.375 0.505 1.6 1.6 0 0 1 -0.825 0.055c-0.46 -0.253 -0.821 -0.731 -1.04 -1.2 -0.081 -0.38 -0.056 -0.629 0.149 -0.96 0.244 -0.229 0.387 -0.256 0.715 -0.265" fill="currentColor"/> -->
<!-- 		<path d="M10.96 8.24c0.215 0.165 0.215 0.165 0.4 0.4l0.131 0.14c0.316 0.363 0.413 0.636 0.38 1.117a1.027 1.027 0 0 1 -0.271 0.581c-0.292 0.184 -0.556 0.183 -0.887 0.128 -0.263 -0.081 -0.383 -0.237 -0.553 -0.448l-0.128 -0.147c-0.313 -0.377 -0.44 -0.64 -0.432 -1.133a1.333 1.333 0 0 1 0.409 -0.635c0.333 -0.123 0.611 -0.105 0.951 -0.005" fill="currentColor"/> -->
<!-- 	</svg> -->
<!-- 	<select id="theme-dropdown" class="text-base"> -->
<!-- 		{themes.map(theme => ( -->
<!-- 			<option class="text-base text-primary bg-primary" value={theme} selected={false}>{theme.replace('theme-', '').replace(/^\w/, c => c.toUpperCase()) }</option> -->
<!-- 		))} -->
<!-- 	</select> -->
<!-- </div> -->

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const select = document.getElementById('theme-dropdown') as HTMLSelectElement | null;
    if (!select) return;

    const savedTheme = localStorage.getItem('theme') || 'theme-light';

    document.body.classList.remove(...Array.from(document.body.classList).filter(c => c.startsWith("theme-")));
    document.body.classList.add(savedTheme);
    select.value = savedTheme;

    select.addEventListener("change", function () {
      const selectedValue = select.value;

      document.body.dataset.themeTransitioning = "true";

      document.body.classList.remove(...Array.from(document.body.classList).filter(c => c.startsWith("theme-")));
      document.body.classList.add(selectedValue);

			setTimeout(() => {
			     delete document.body.dataset.themeTransitioning;
			}, 500);

      localStorage.setItem('theme', selectedValue);
    });
  });
</script>

