---
const themes = ['theme-light', 'theme-dark'];
---


<select id="theme-dropdown" class="text-base">
  {themes.map(theme => (
	  <option class="text-base text-primary bg-primary" value={theme} selected={false}>{theme.replace('theme-', '').replace(/^\w/, c => c.toUpperCase()) }</option>
  ))}
</select>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const select = document.getElementById('theme-dropdown') as HTMLSelectElement | null;
    if (!select) return;

    const savedTheme = localStorage.getItem('theme') || 'theme-light';

    document.body.classList.remove(...Array.from(document.body.classList).filter(c => c.startsWith("theme-")));
    document.body.classList.add(savedTheme);
    select.value = savedTheme;

    select.addEventListener("change", function () {
      const selectedValue = select.value;

      document.body.classList.remove(...Array.from(document.body.classList).filter(c => c.startsWith("theme-")));
      document.body.classList.add(selectedValue);


      localStorage.setItem('theme', selectedValue);
    });
  });
</script>

