---
export const prerender =	false;
import BaseLayout from "@layouts/BaseLayout.astro"
const { scheduleId } = Astro.params;

---

<BaseLayout class="Schedule">
	<h1>Schedule {scheduleId}</h1>

</BaseLayout>
