---
const { title } = Astro.props
import { config } from "@config"
import "@styles/global.css";

import CopyrightNotice from "@components/CopyrightNotice.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";

const pageTitle = title ? `${title} - ${config.title}` : config.title;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/favicon/R-favicon.ico">

		<title>{pageTitle}</title>
</head>
<body class="theme-light">
		<div class="text-primary bg-primary">
			<nav>
				<ThemeSwitcher>
			</nav>
			<slot/>

			<CopyrightNotice>
		</div>
</body>
</html>
