---
const { title } = Astro.props
import { config } from "@config"
import "@styles/global.css";

import CopyrightNotice from "@components/CopyrightNotice.astro";
import ThemeSwitcher from "@components/ThemeSwitcher.astro";
import TextSizeSwitcher from "@components/TextSizeSwitcher.astro";

import Status from "@components/Status.astro";

const pageTitle = title ? `${title} - ${config.title}` : config.title;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/favicon/R-favicon.ico">

		<title>{pageTitle}</title>

		<script is:inline>
			(function() {
				let theme = localStorage.getItem('theme');
				if (!theme) {
					const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
					theme = prefersDark ? 'theme-dark' : 'theme-light';
				}

				document.documentElement.classList.add(theme);
			})();
		</script>

		<script is:inline>
			(function() {
				const textSize = localStorage.getItem('text-size') || 'text-Medium';
				document.documentElement.classList.add(textSize);
			})();
		</script>

</head>
<body class="theme-light scrollbar-primary font-sans">
	<div class="text-primary bg-primary text-base w-screen h-screen flex flex-col">
		<header class="shrink-0">
				<nav class="flex flex-row justify-between p-3 gap-2">
					<div class="flex flex-row gap-2">
						<ThemeSwitcher/>
						<TextSizeSwitcher/>
					</div>
						<Status/>
				</nav>
		</header>
		<main class="flex-1 overflow-y-auto min-h-0 max-w-[100%]">
				<slot/>
		</main>
		<footer class="shrink-0">
				<CopyrightNotice/>
		</footer>
	</div>
</body>
</html>
