---
export const prerender = false
import BaseLayout from "@layouts/BaseLayout.astro"
---

<BaseLayout title="protected route">
	<div class="w-full flex flex-col justify-between items-center">
		<h1 class="text-2xl ">protected route</h1>
	</div>
</BaseLayout>
